data/задания bygrop.txt
scripts/new.py
pass.txt

scrinshot/step1.png
scrinshot/step2.png
scrinshot/step3.png
scrinshot/step3float.png
scrinshot/step3to_numeric.png
scrinshot/step4.png
scrinshot/step5.png
scrinshot/step6.png
scrinshot/step7.png
